.App {
  background: url('/src/assets/images/background/castle.png'), url('/src/assets/images/background/mountain.png'), url('/src/assets/images/background/sky.png');
  background-repeat: no-repeat;
  background-position: bottom right, bottom, right bottom;
  background-size: contain, 100%, cover;
  height: 100vh;
  overflow: auto;
}

.Background {
  background-color: rgba(52, 2, 134, 0.4);
  height: 100vh;
  overflow: auto;
}
